<!DOCTYPE html>
<html>
<head>
<title>Reading List</title>
<link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
	<h2>your reading list</h2>
	<div th:unless="${#lists.isEmpty(books)}">
		<dl th:each="book : ${books}">
			<dt class="bookHeadline">
				<a th:href="'http://www.amazon.com/gp/product/' + ${book.isbn} + '/tag=' + ${amazonID} " th:text="${book.title}">Title</a> by 
				<span th:text="${book.author}">Author</span>
				(ISBN: <span th:text="${book.isbn}">ISBN</span>)
			</dt>
			<dd class="bookDescription">
				<span th:if="${book.description}"
					  th:text="${book.description}">Description</span>
				<span th:if="${book.description eq null}">No description available</span>
			</dd>
		</dl>
	</div>
	
	<hr/>
	
	<h3>add a book</h3>
	<form method="POST">
		<lable for="title">Title:</lable>
			<input type="text" name="title" size="50"></input><br/>
		<lable for="author">Author:</lable>
			<input type="text" name="author" size="50"></input><br/>
		<lable for="isbn">ISBN:</lable>
			<input type="text" name="isbn" size="15"></input><br/>
		<lable for="description">Description:</lable><br/>
			<textarea name="description" cols="80" rows="5"></textarea><br/>
		<input type="submit" />				
	</form>
	
</body>
</html>